<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89a8e2">  <td>19/11/12 23:04:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.cleanup()[pri:0, instance:runner.TestRunner@7e2d773b]">&lt;&lt;cleanup</td> 
<td>&nbsp;</td>  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>19/11/12 23:04:12</td>   <td>-9212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@7e2d773b]">feature</td> 
  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>19/11/12 23:04:21</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.reportSetup()[pri:0, instance:runner.TestRunner@7e2d773b]">&lt;&lt;reportSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>19/11/12 23:04:12</td>   <td>-9383</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.TestRunner@7e2d773b]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>19/11/12 23:04:21</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.TestRunner@7e2d773b]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@175408781</td>   <td></td> </tr>
</table>
